body{
	margin: 0px;
}
.header{
	text-align: right;
	background-color: skyblue;
	padding: 20px;
}
.mainheading{
	text-align: center;
	padding: 19px;
	background-color: skyblue;
	display: block;
}
.maintitle{
	background-color: gray;
	text-align: center;
	padding: 70px;
	display: block;
}
.mainblock{
	background-color: burlywood;
	padding: 70px;
	text-align: center;
	display: block;
}
.class1{
	display: block;
	background-color: darkgray;
	float: left;
	height: 255px;
	width: 50%;
	text-align: center;
	text-

}
*{margin: 0; padding: 0; 
box-sizing: border-box; text-align: center; 
}

main{
 width: 75%; 
 margin: 50px auto; 
 border:30px solid grey;
 display: grid; 
 color: black;
 grid-template-rows: 70px 150px 200px 70px;
 grid-template-columns: repeat(3, 1fr) 150px;
 grid-gap: 10px;
 
}

 .div1{ background-color: crimson; 
  grid-column: 1/-1;
 }
 .div2{ 
 	background-color: pink;
  grid-column: 1/4;
 }
 .div3{
 	background-color: black;
 	color: white;
 	grid-column: 1/3;

 }
 .div4{ 
 	background-color: sandybrown; 
 	grid-column: 3/4;
}
 .div5{ 
 	background-color: salmon; 
  grid-row:2/3; 
  grid-column: 4/4;
}
 .div7{
 	background-color: white;
 }
 .div6{
 	background-color: hotpink;
 	grid-column: 1/4;
 }
 
.class2{
	display: block;
	background-color: hotpink;
	float: right;
	height: 255px;
	width: 50%;
	text-align: center;
}
.class3{
	display: block;
	background-color: purple;
	float: center;
	height: 255px;
	width: 100%;
	text-align: center;

}

.footer{
	background-color: pink;
	text-align: center;
	padding: 70px;
	display: block;
}
.class4{
	display: block;
	background-color: gray;
	height: 255px;
	width: 100%;
	padding: 0px;
	clear: both;
	text-align: center;
	clear: right;
}